<!DOCTYPE html>
<html lang="en">
{% extends 'index.html'%}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<h3>Book List</h3>
{% for book in books %}
    <p>{{ forloop.counter }}. <a href="{% url 'bookl:book_detail' book.id %}"> {{ book.name }}</a> by {{ book.author }}
        (<a href="{% url 'bookl:book_update' book.id %}">Update</a> |
        <a href="{% url 'bookl:book_delete' book.id %}">Delete</a>)
    </p>
{% endfor %}
</body>
{% endblock content %}
</html>